Django==1.7.3
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
django-celery==3.1.16
django-enumfield==1.2
django-extensions==1.5.0
django-uuidfield==0.5.0
djangorestframework==3.0.5
gnureadline==6.3.3
honcho==0.5.0
ipython==2.4.1
kombu==3.0.24
model-mommy==1.2.3
pytz==2015.2
requests==2.2.1
six==1.9.0
wsgiref==0.1.2
