<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Size</th>
            <th>Filled</th>
            <th>Price(USD)</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1.20</th>
            <th>-</th>
            <th>298.58</th>
            <th>18:05:02</th>
            <th>Open</th>
        </tr>
        <tr>
            <th>0.80</th>
            <th>Yes</th>
            <th>201.45</th>
            <th>02:03:50</th>
            <th>Closed</th>
        </tr>
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->