<div class="table-responsive">
  <table class="table ob-sell-table order-book-table">
    <thead>
      <tr><th>Market size</th><th>Price(USD)</th></tr>
    </thead>
    <tbody>
    {% for order in sell_orders %}
     <tr><th class="quantity-td">{{ order.0 }}</th><th class="price-td">{{ order.1 }}<th></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div class="">
  <p>{{ spread }} USD SPREAD</p>
</div>
<div class="table-responsive">
  <table class="table ob-buy-table order-book-table">
    <tbody>
    {% for order in buy_orders %}
    <tr><th class="quantity-td">{{ order.0 }}</th><th class="price-td">{{ order.1 }}<th></tr>
    {% endfor %}
    </tbody>
  </table>
</div>
